body,
html {
  height: 100%;
}

html {
  line-height: 1.5;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body,
table {
  text-align: center;
}

body {
  background: #f0f0f0;
  color: #000;
  font-family: sans-serif;
  margin: 0;
}

table {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

td {
  padding: 0;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.67em;
}

img {
  width: 12.5em;
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  color: #00f;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  overflow: visible;
  padding: 0;
  text-decoration: underline;
}
